.create-wrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.create-title{
    text-align: center;
    margin-bottom: 20px;
}
.inputs-wrapper{
    display: flex;
    gap: 10px;
    width: 300px;
    flex-direction: column;
    margin-bottom: 20px;
}
.create-btn{
    background: rgb(166, 218, 240);
    cursor: pointer;    
    border: none;
    border-radius: 6px;
    padding: 8px 0px;
}
.create-btn:hover{
    background: rgb(135, 201, 223);
    
}