.create-wrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.create-title{
    text-align: center;
    margin-bottom: 20px;
}
.inputs-wrapper{
    display: flex;
    gap: 10px;
    width: 300px;
    flex-direction: column;
    margin-bottom: 20px;
}