.board{
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;   
}
.column-wrapper{
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;

}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

    
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  min-width: 350px;
  animation: fadeIn 0.2s ease-in;
}


.btnClose {
  background: #ccc;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}
.create-btn{
  margin-top: 30px;
}