.board{
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;   
}
.column-wrapper{
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;

}