.board{
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;   
}
.column-wrapper{
    display: flex;
    flex-direction: row; /* або видалити, бо row за замовчуванням */
    gap: 50px; /* можеш коригувати відстань між колонками */
    align-items: flex-start;
    justify-content: center;
    padding: 75px 50px 50px 50px;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

    
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  min-width: 350px;
  animation: fadeIn 0.2s ease-in;
}


.btnClose {
  background: #ccc;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.create-btn{
  position: absolute;
  top: 20px;
  border-radius: 6px;
  border: none;
  padding: 6px 12px;
  background: rgb(166, 218, 240);
  cursor: pointer;
}
.create-btn:hover{
  background: rgb(135, 201, 223);
}
.statusBar{
  position: absolute;
  top: 50px;
  display: block;
}