.form{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.header{
    margin-bottom: 20px;
}
.inputsDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.updateBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(166, 218, 240);
    border: none;    
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 0px;
}