.item{
    padding: 10px 10px;
}
.item-title{
    font-size: 16px;
}
.due-date{
    font-size: 15px;
}

.item-wrap{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;  
}
.item-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.close{
 align-items: end;
}