* {
	padding: 0px;
	margin: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}



.app{
  max-width: 1218px;
  padding: 25px 12px 30px 12px;
  margin: 0 auto;
}
.title-todo{
  text-align: center;
  font-size: 50px;
}